@font-face {
    font-family: 'Vector';
    src: url('../components/asset/Vector/Vector-Bold.ttf');
    src: url('../components/asset/Vector/Vector-Heavy.ttf');
    src: url('../components/asset/Vector/Vector-Light.ttf');
    src: url('../components/asset/Vector/Vector-Regular.ttf');
    src: url('../components/asset/Vector/Vector-Thin.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Layer';
    src: url('../components/asset/Layer/Layer.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Linone';
    src: url('../components/asset/Linone/Linone.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Resfire';
    src: url('../components/asset/Resfire/Resfire.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dropaso';
    src: url('../components/asset/Dropaso/Dropaso.otf');
    font-weight: 400;
    font-style: normal;
}